# Importing the Necessary Packages

In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# You can see what version of a given package you have installed like so:
pd.__version__

'1.2.4'

# Loading the Datasets

### Original MovieLens

In [4]:
base_url = 'https://raw.githubusercontent.com/cs6220/cs6220.summer2021/master/data/ml-1m/'
kwargs = {
    'sep': '::',
    'header': None,
    'engine': 'python',
    'encoding': 'latin-1'
}

unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
df_users = pd.read_table(base_url + 'users.dat', names=unames, **kwargs)

rnames = ['user_id', 'movie_id', 'rating', 'timestamp']
df_ratings = pd.read_table(base_url + 'ratings.dat', names=rnames, **kwargs)

mnames = ['movie_id', 'title', 'genres']
df_movies = pd.read_table(base_url + 'movies.dat', names=mnames, **kwargs)

In [5]:
df = pd.merge(pd.merge(df_ratings, df_users), df_movies)

Let's define a new `genre` column to work with. For movies with multiple genres, we take the first genre.

In [6]:
df['genre'] = df['genres'].str.split('|').str[0]

# Some useful variables and functions

In [7]:
# More info on the dataset can be found here: http://files.grouplens.org/datasets/movielens/ml-1m-README.txt

occupation_dict = { 
    0: "not specified", 
    1: "academic/educator",
    2: "artist",
    3: "clerical/admin",
    4: "college/grad student",
    5: "customer service",
    6: "doctor/health care",
    7: "executive/managerial",
    8: "farmer",
    9: "homemaker",
    10: "K-12 student",
    11: "lawyer",
    12: "programmer",
    13: "retired",
    14: "sales/marketing",
    15: "scientist",
    16: "self-employed",
    17: "technician/engineer",
    18: "tradesman/craftsman",
    19: "unemployed",
    20: "writer"
}

age_dict = {
    1: "Under 18",
    18: "18-24",
    25: "25-34",
    35: "35-44",
    45: "45-49",
    50: "50-55",
    56: "56+"
}

In [8]:
# More information on Pandas styling here: https://pandas.pydata.org/pandas-docs/stable/style.html
# Matplotlib color maps: https://matplotlib.org/users/colormaps.html

def highlight_max(s):
    """Highlight the maximum in a Series green."""
    is_max = s == s.max()
    return ['background-color: green' if v else '' for v in is_max]


def highlight_min(s):
    """Highlight the minimum in a Series yellow."""
    is_min = s == s.min()
    return ['background-color: yellow' if v else '' for v in is_min]

# <font color='red'>The actual class-activity ↓</font>

In [9]:
df.head()

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genres,genre
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama,Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama,Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama,Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama,Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama,Drama

### <font color='green'>Find out how many times each genre was rated</font>

### <font color='green'>How many ratings do we have for "Film-Noir" movies ?</font>

### <font color='green'>Which users have the most/least ratings? What is the average rating for the top/bottom 5?</font>

### <font color='green'>Draw a histogram of the ratings</font>

### <font color='green'>Draw a boxplot of the ratings split by genre</font>

### <font color='green'>Use the provided dictionaries to replace the age/occupation codes with the actual values they represent</font>

### <font color='green'>Now draw a boxplot of the ratings by occupation. Warning: This dataset is boring.</font>

### <font color='green'>How many people below the age of 18 are "retired" ?   ¯\\_(ツ)_/¯ </font>

### <font color='green'> What movie genres are most popular among programmers? How do they rate each genre?</font>

### <font color='green'> What movies are most popular among farmers? </font>

### <font color='green'> Create a table with the mean ratings for each genre for each occupation. Hint: pivot tables </font>

### <font color='green'> Apply a style to this table that would help highlight the lowest rated genre for each occupation </font>

### <font color='green'> Apply a heatmap style to this table that would help highlight low/high ratings </font>

### <font color='green'>Which movies do men and women most disagree on? </font>